<div class="hero-unit">
	<h2>Cambridge Structural Database - Viewer </h2>

	<p>
		Este é um visualizador do CSD que temos instalado em nosso servidor.
		Para você acessá-lo, você deverá pedir permissão e ler o nosso termo de 
		compromisso.
	</p>

	<button class="alert"> Termo de Compromisso</button>
</div>